body {
  padding-left: 200px;
  padding-right: 200px;
}
h2 {
  color: rgb(250, 210, 210);
}
.link {
  text-decoration: none;
  color: rgb(240, 242, 255);
}

@media screen and (max-width: 1120px) {
  body {
      padding-left: 0;
      padding-right: 0;
  }
  iframe {
      width: 100%;
  }
}
